<body>
    <div id="container_1">

        <h1 id="title">
          Handouts Login
        </h1>
        <!--title-->
      
      
      </div>
      <!---container_1--->
      <div id="container_2">
      
        {{!-- <form id="survey-form"> --}}
        <form action="/user/login" method= "post" id="login-form">
          <label id="email-label">Email</label>
          <input type="email" id="email" name="email" class="form" required placeholder="Insert your email"><br>
          <!---email-->
          <label id="password-label">Password</label>
          <input type="password" id="password" name="password" class="form" required placeholder="Input Password"><br>
          <!---password-->

          <br><br>
          <!---comment
      
          <input type="submit" id="submit" name="submit" value="Submit">-->
          <button type="submit" class="submitBtn">Login</button><br>
        </form>
        <!---survey-form--->
      </div>
      <!--container_2--->
</body>