<body>
  <header>
            <div class="cd-logo"><a href="">
                    <!-- <img src="img/handouts-logo.png" width="100%" height="60%" alt=""> -->
            </a></div>
    
            <nav class="cd-main-nav-wrapper">
                <ul class="cd-main-nav">
                    <li><a href="/mainPage">Home</a></li>
                    <li><a href="/user/profile">Profile</a></li>
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/user/register">Signup</a></li>
                    <li><a href="/profile.html">Chats</a></li>
                </ul> <!-- .cd-main-nav -->
            </nav> <!-- .cd-main-nav-wrapper -->
            
            <a href="#0" class="cd-nav-trigger">Menu<span></span></a>
    </header>
      <link rel="stylesheet" href="../../public/css/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <br><br>
    <div id="container_1">

        <h1 id="title">
          Handouts Login
        </h1>
        <!--title-->
        <p id="description">
          Enter the required data in the boxes.
        </p>
        <!--description--->
      
      </div>
    <div class="container">
        <form id="form" action="/user/login" method="post">
            
            <div class="input-control">
                <label for="email">Email</label>
                <input id="email" name="email" type="text">
                <div class="error"></div>
            </div>
            
            
            <div class="input-control">
                <label for="password">Password</label>
                <input id="password"name="password" type="password">
                <div class="error"></div>
            </div>
            
            <button type="submit">Log In</button>
        </form>
    </div>
</body>