<body>
  <header>
            {{!-- <div class="cd-logo"><a href="">
                    <!-- <img src="img/handouts-logo.png" width="100%" height="60%" alt=""> -->
            </a></div> --}}
    
            <nav class="cd-main-nav-wrapper">
                <ul class="cd-main-nav">
                  <li>  <form action="/action_page.php">
                    <input style="padding: 6px;
  margin-top: -2px;
  font-size: 17px;
  border: none;" type="text" placeholder="Search.." name="search">
                    <button style="float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  background:transparent;
  font-size: 20px;
  border: none;
  cursor: pointer;" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                    {{!-- {{#if userLogin}} --}}
                    <li><a href="/mainPage">Home</a></li>
                    <li><a href="/user/profile">Profile</a></li>
                    <li><a href="/profile.html">Chats</a></li> 
                    <li><a href="/user/register">Logout</a></li>
                 {{!-- {{else}}   --}}
             
                    {{!-- {{#if userLogin}} --}}
                    <li><a href="/mainPage">Home</a></li>
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/user/register">Signup</a></li>
                     {{!-- {{/if}} --}}
                </ul> <!-- .cd-main-nav -->
            </nav> <!-- .cd-main-nav-wrapper -->
          
            
            <a href="#0" class="cd-nav-trigger">Menu<span></span></a>
    </header>
      <link rel="stylesheet" href="../../public/css/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <div id="container_1">
<br><br>
        <h1 id="title">
          Handouts Registration
        </h1>
        <!--title-->
        <p id="description">
          Enter the required data in the boxes.
        </p>
        <!--description--->
      
      </div>
    <div class="container">
        <form id="form" action="/user/register" method="post">
            <div class="input-control">
                <label for="username">Username</label>
                <input id="username" name="username" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="email">Email</label>
                <input id="email" name="email" type="text">
                <div class="error"></div>
            </div>
            
            <div class="input-control">
          <label id="number-label">Age</label>
          <input type="number" id="age" name="age" min=16 max=120><br>
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="city">City</label>
                {{!-- <input id="city"name="city" type="text"> --}}
                <select id="city" name="city">
              <option value="bayonne">Bayonne</option>
            <option value="harrison">Harrison</option>
              <option value="hoboken">Hoboken</option>
            <option value="jerseyc">Jersey City</option>
            <option value="kearny">Kearny</option>
            <option value="northb">North Bergen</option>
            <option value="secaucus">Secaucus</option>
            <option value="unionc">Union City</option>
            <option value="weehawken">Weehawken</option>
            <option value="westny">West New York</option>
            </select>
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="password">Password</label>
                <input id="password"name="password" type="password">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="password2">Password again</label>
                <input id="password2"name="password2" type="password">
                <div class="error"></div>
            </div>
            <button type="submit">Sign Up</button>
            {{#if error}}
              <h4>{{error}}</h4>
            {{/if}}
        </form>
    </div>
</body>