<body>
    	<header>
                <nav class="cd-main-nav-wrapper">
                <ul class="cd-main-nav">
                  <li>  <form action="/action_page.php">
                    <input style="padding: 6px;
  margin-top: -2px;
  font-size: 17px;
  border: none;" type="text" placeholder="Search.." name="search">
                    <button style="float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  background:transparent;
  font-size: 20px;
  border: none;
  cursor: pointer;" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                    {{!-- {{#if userLogin}} --}}
                    <li><a href="/mainPage">Home</a></li>
                    <li><a href="/user/profile">Profile</a></li>
                    <li><a href="/profile.html">Chats</a></li> 
                    <li><a href="/user/register">Logout</a></li>
                 {{!-- {{else}}   --}}
             
                    {{!-- {{#if userLogin}} --}}
                    <li><a href="/mainPage">Home</a></li>
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/user/register">Signup</a></li>
                     {{!-- {{/if}} --}}
                </ul> <!-- .cd-main-nav -->
            </nav> <!-- .cd-main-nav-wrapper -->
          
                
                <a href="#0" class="cd-nav-trigger">Menu<span></span></a>
    </header>
            
 

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"><div class="container bootstrap snippet">
        
<div class="row">
        <div class="col-sm-5">
          <h4>Report this Post</h4>
          <form action="/report/form/" method="post">
            <label for="reason"></label>
            <input type="text" id="reason" class="form-control form-control-sm" name="reason" placeholder="Please enter what you found inappropriate in this post..">
            <input type="submit" value="Report" class="btn-primary">
          </form>
        </div>      
</div>

<script src="bootstrap.min.js"></script>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
<script type="text/javascript">
            
    $(function(){
        var postActions   = $( '#list_PostActions' );
        var currentAction = $( '#list_PostActions li.active' );
        if ( currentAction.length === 0 ) {
            postActions.find( 'li:first' ).addClass( 'active' );
        }
        postActions.find( 'li' ).on( 'click', function( e ) {
            e.preventDefault();
            var self = $( this );
            if ( self === currentAction ) {return;}
            // else
            currentAction.removeClass( 'active' );
            self.addClass( 'active' );
            currentAction = self;
        });
    });
</script>
	
</script>
</body>
