<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../public/css/bootstrap3.3.1.min.css" rel="stylesheet">
    <link href="../../public/css/demo.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/hover.css">
    {{!-- <link rel="stylesheet" href="../../public/css/signup.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../../public/css/style_nav.css"> <!-- Resource style -->
	<script src="../../public/js/modernizr.js"></script> <!-- Modernizr -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//geodata.solutions/includes/countrystatecity.js"></script>
  <script src = "../../public/js/client.js"></script><!-- Client side js -->
</head>

</head>
<body>
{{{body}}}
    
</body>
</html>